NET "CLK" LOC = "P184"  ;
NET "Reset"  LOC = "P101" ;
NET "led[0]" LOC =" P68" ;
NET "led[1]" LOC = "P78" ;
NET "led[2]" LOC = "P83" ;
NET "led[3]" LOC = "P89";
NET "LCD_RS"  LOC = "p36"  ;
NET "LCD_RW"  LOC = "p40";
NET "LCD_EN"  LOC ="p39"   ;
NET "LCD_Data_Out[0]"  LOC ="p42"  ;
NET "LCD_Data_Out[1]"  LOC = "p41"  ;
NET "LCD_Data_Out[2]"  LOC =  "p47"  ;
NET "LCD_Data_Out[3]"  LOC = "p45"  ;
NET "LCD_Data_Out[4]"  LOC = "p49"  ;
NET "LCD_Data_Out[5]"  LOC =  "p48"    ;
NET "LCD_Data_Out[6]"  LOC = "p55"  ;
NET "LCD_Data_Out[7]"  LOC =  "p50"   ;


NET "LCD_N"  LOC = "p60"  ;
NET "LCD_P"  LOC =  "p61"    ;